/* Design */
html{
  margin:0;
  padding:0;
  min-height:100%; /* real browsers */
  height:100%; /* needed for container min-height */
}
body{
  color:rgb(0,0,0);


  background: url('background/footer.png') bottom no-repeat scroll rgb(100,149,237);

  height:auto; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  margin:0;
  min-height:100%; /* real browsers */
}
html{
  position:relative;
  color:rgb(0,0,0);
  background-color:rgb(100, 149, 237);

  background: rgb(100,149,237);

  height:auto; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
}
div#bg {
  background: url('background/footer.png') bottom no-repeat scroll rgb(100,149,237);
}
div#padding {
  position:relative; /* needed for footer positioning*/
  margin:0 auto; /* center, not in IE5 */
  width:750px;
	
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/

  min-height:100%; /* real browsers */
}  
div#header {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
  background-image:url('Icarus.png');
}
iframe {
  padding-bottom: 10px;
  padding-top: 10px;
}
body img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
table#container {
  margin-left: auto;
  margin-right: auto;
  background-image:url('background/borderBody.png');
  border-collapse:collapse;
  width: 768px;
}
td#left {
  width:560px;
  vertical-align:top;
  padding-left: 30px;
}
td#left object {
  margin-top: 20px;
  margin-bottom: 5px;
}
td#right {
  padding-left:50px;
  vertical-align:top;
  padding-right: 30px;
}
p img {
  width:98%;
}
div#price {
  padding: 10px;
  background:#303030
}
form {
  width:100%;
}
form input {
  margin-left: auto;
  margin-right: auto;
}
form#purchase
{
  text-align: center;
}



/* Text */
h1 {
  font-size:0px;
  font-weight:normal;
  font-family:Tahoma,sans-serif;
  color:rgb(20,20,20);
}
h1 img {
  margin-left: 125px;
}
h2 {margin-bottom:4px;font-size:21px;font-weight:normal;font-family:Tahoma,sans-serif;color:rgb(162,108,54);}
h3 {margin-bottom:4px;font-size:18px;font-weight:normal;font-family:Tahoma,sans-serif;color:#EEEEEE;}
p, blockquote {margin-top:4px;font-size:15px;line-height:21px;font-family:Arial,sans-serif;color:#EEEEEE;}
p.error {color:rgb(255,0,0);}
form span {
  margin-top:4px;font-size:15px;line-height:21px;font-family:Arial,sans-serif;color:#EEEEEE;
}
span.gold {color:#EBEB00;}
#menuselected {background-color:rgb(210,210,210);}
div#gallery {
  height:395px;
}
.bqstart {
     float: left;
     height: 45px;
     margin-top: -20px;
     padding-top: 30px;
     margin-bottom: -50px;
     font-size: 300%;
     color: #EBEB00;
 }
 .bqend {
     float: right;
     height: 25px;
     margin-top: 0px;
     padding-top: 10px;
     font-size: 300%;
     color: #EBEB00;
 }
.quote_name {
	margin-left: 60%;
}
div.download {
	width: 250px;
	margin: 0 auto;
	color: #EEE;
	padding-bottom: 20px;
}
div.download a {
	font-size: 120%;
}
div.download span {
	font-size: 70%;
	padding-left: 10px;
}
div.mediakit {
	font-size: 120%;
	width: 300px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 5px;
}



/* Links */
a {color:rgb(150,150,255);text-decoration:none;}
a.underline {text-decoration:underline;}
a:hover {color:rgb(100,100,255);}
a:active {color:rgb(150,150,255);}



/* Images */
img {border:0px;}
img.preload {display: none;}
div#gallery a img.preview {
  height: 15%;
  width: auto;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
div#gallery a img#large {
  float: left;
  width: 100%;
}